body {
	margin:0;
	background-color:#f2f2f2;
	}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not active,.active2,.active3 {
  background-color: #111;
}

.active4 {
  background-color: #4CAF50;
}
.active {
  background-color: #4CAF50;
}
.active2{
	background-color:#1794F5;
}
.active3{
	background-color:red;
}
ul .login-container {
  float: right;
}

ul input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 150px; 
}


ul .login-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

ul .login-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  ul .login-container {
    float: none;
  }
  ul a, .topnav input[type=text], ul .login-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
  }
  ul input[type=text] {
    border: 1px solid #ccc; 
  }




.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f1f1f1;;
  color: black;
  text-align: left;
}
}